# bazel build files
bazel-bin
bazel-mlir-tutorial
bazel-out
bazel-testlogs

# cmake related files
# ignore the user specified CMake presets in subproject directories.
/*/CMakeUserPresets.json

# Nested build directory
/build*

# Visual Studio built-in CMake configuration
.vscode*
/CMakeSettings.json
# Compilation databases
compile_commands.json
tablegen_compile_commands.yml
